$blueColor: #90a4b8;
$blueColor2: #a2d7e6;
$blueColor3: #679fdb;
$greenColor: #76b28e;
$ligthGreen: #abd3be;
$violetColor: #b28990;
$yellowColor1: #fdcd4b;
$yellowColor2: #f09d74;
$textColor: #696969;
$bodyColor: #e0f1f3;
$ligthColor: #fffacd;
$shadowBlue: #b9d4e7;
$pinkColor: #e24e69;

input {
  width: 300px;
  height: 25px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 15px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.btn:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
.btn:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
  background-color: #3c5070;
}
.btn:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}

@mixin hover {
  opacity: 1;
  border: 8px solid;
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Roboto&display=swap");
